@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;

}

body{
    font-family:'Roboto', sans-serif;
    color: black;

    
}

.navbar{
    background-image: linear-gradient(to right, #a3a6a4, #8a8d8b, #727473, #5b5d5b, #454645);
    display: grid;
    width: 100%;
    grid-template-columns: repeat(8, auto);
    align-items: center;
    
}

.navbar .logo{
    width: 60px;
    height: 60px;
    grid-column: 2;
    
}
.navbar .menu{
    grid-column: 6 / 8 ;
    display: flex;
    justify-content: space-around;
}

.navbar .menu a{
    text-decoration: none;
    color:rgb(2, 2, 2);
    font-weight: bold;
    
}
.navbar .menu a:hover{
    color: rgb(135, 184, 0);
}

/* SECCION MAIN */


.hero{
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(8, 1fr);
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("/Newcode/images/Portada.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.hero .contenido{
    color: white;
    grid-column: 2/6;
    grid-row: 3/6;
}

.hero h1{
    font-size: bold;
    font-size: 70px;
}

 .hero p{
     font-style: normal;
     font-size:25px;
 }
  .hero .btn{
      font-size: 20px;
      font-weight: bold;
      background:none;
      color: white;
      padding: 10px 30px;
      border-radius:10px;
      border: 2px solid black;
      margin-top: 10px;
      animation: pulse 1.5s infinite;
      
  }

  @keyframes pulse{
      0%{
          transform: scale (.99);
          box-shadow: 0 0 0 0 rgba(256, 256, 256, .1);
      }
      70%{
        transform: scale(1);
        box-shadow: 0 0 0 25px rgba(256, 256, 256, 0);
      }
      100%{
        transform: scale (.99);
        box-shadow: 0 0 0 0 rgba(256, 256, 256, 0);
      }
  }

  .hero .btn:hover{
      background-color:rgba(150, 235, 81, 0.699);
      color: black;

  }
 


 /* SECCCION PLEGABLE*/


 .plegable{
    background-image: linear-gradient(to top, #f6f6f6, #f2f2f2, #ededed, #e9e9e9, #e5e5e5, #dedede, #d6d6d6, #cfcfcf, #c3c3c3, #b7b7b7, #ababab, #9f9f9f);
     height: 50vh;
     display: grid;
     grid-template-columns: repeat(10, auto);
     grid-template-rows:repeat(9,1fr);

 }

 .plegable .div{
     font-size: 40px;
     grid-column: 4/10;
     grid-row: 5/6;
 }

.plegable .div-1{
    font-size: 10px;
    grid-row: 1/3;
    grid-column:3/4 ;

}

.plegable .img{
    width: 400px;
}


/* SECCION PUBLICIDAD*/


.publicidad{
    background-image: linear-gradient(to bottom, #dbdde1, #d3d5da, #cbcdd2, #c3c6cb, #bbbec4, #b7bdc5, #b2bcc5, #adbcc4, #aac2c7, #aac8c6, #afcdc1, #bad1bb);
    display: grid;
    height: 80vh;
    grid-template-columns: repeat(16, auto);
    grid-template-rows: repeat(12,1fr);
    align-items: center;
    justify-content: space-around;
    

}

.publicidad .contenedor{
    color: rgb(3, 3, 3);
    grid-column: 7/11;
    grid-row: 2;
    
   
    
    
}
.publicidad .titulo{
    font-size: 60px;
    display: grid;
    align-items: center;
    justify-content: center;
    
    
}

.publicidad .carta{
    grid-row: 5/10;
    grid-column:2/6;
    
}

.publicidad .carta-2{
    grid-row: 5/10;
    grid-column: 7/11;
}

.publicidad .carta-3{
    grid-row: 5/10;
    grid-column: 12/16;
}

.img1{
    width: 200px;
    
}
.img2{
    width: 200px;
}
.img3{
    width: 200px;
}



/* FOOTER*/

.footer{
    background-image: linear-gradient(to left, #a3a6a4, #8a8d8b, #727473, #5b5d5b, #454645);
    height: 70px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 3;
}
.footer .contenedor{
    grid-column: 4;
    grid-row: 2;
}



/*RESPONSIVE*/ 

@media only screen and (max-width:750px){

    .navbar{
        background-color: rgba(243, 243, 243, 0.39);
        display: grid;
        width: 100%;
        grid-template-columns: repeat(8, auto);
        grid-template-rows: repeat(2, auto);
        align-items: center;  
    }

    .navbar .menu{
        grid-row: 2;
        grid-column: 3/6;
    }



    /* SECCION MAIN */ 

    .hero .contenido{
        grid-column: 2/6;
        grid-row: 5/9;
    }

    .hero h1{
        font-size: bold;
        font-size: 50px;
    }
    
     .hero p{
         font-style: normal;
         font-size:15px;
     }




     /* SECCCION PLEGABLE*/

     .plegable .div{
        font-size: 30px;
        grid-column: 3/8;
        grid-row: 5/6;
    }
   
    .plegable .div-1{
       font-size: 10px;
       grid-row: 6;
       grid-column:4/7 ;
   
    }
   
    .plegable .img{
       width: 300px;
    }




    /* SECCION PUBLICIDAD*/

    .publicidad{
        height: 100vh;
        display: grid;
        align-items: center;
        justify-content: center;
        justify-items: center;
        grid-template-columns:repeat(10,auto);
        grid-template-rows: repeat(10,auto);
                   
    }


    .publicidad .titulo{
        font-size: 50px;
        display: none;
            
    }
    
    .publicidad .carta{
        grid-area: carta;
        grid-row: 2/4;
        display: grid;
        align-items: center;
        justify-content: center;
        justify-items: center;
        
    }
    
    .publicidad .carta-2{
        grid-area: carta-2;
        grid-row: 5/7;
        display: grid;
        align-items: center;
        justify-content: center;
        justify-items: center;
     
    }
    
    .publicidad .carta-3{
        grid-area: carta-3;
        grid-row: 7/9;
        display: grid;
        align-items: center;
        justify-content: center;
        justify-items: center;
               
    }
    
    .img1{
        width: 200px;
    }
    .img2{
        width: 200px;
    }
    .img3{
        width: 200px;
    }


    

    /* FOOTER*/

    .footer{
        background-color: rgba(128, 128, 128, 0.514);
        height: 50px;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 3;
        display: flex;
    
    
    }

    .footer .contenedor{
        margin-top: 20px;
       
        
    }

}


    






